<h1 class="title animated tada">{{ title }}</h1>
<button (click)="alterarTexto()">alterar</button>
<ul class="animated flipInX" *ngIf="mode == 'list'">
  <p *ngIf="todos.length == 0"><small>nao tem nenhuma tarefa hoje</small></p>
  <li 
    *ngFor="let todo of todos"
    >{{ todo.id }}. {{ todo.title }} - 
    <button *ngIf="!todo.done" (click)="markAsDone(todo)">concluir</button> |
    <button *ngIf="todo.done"(click)="markAsUndone(todo)">refazer</button> |
    <button (click)="remove(todo)">remover</button> | 
  </li>
</ul>

<div id="modal" *ngIf="mode == 'add'" class="animated flipInX">
<h1 class="text-center">nova tarefa</h1>
  <form [formGroup]="form">
      <input 
        type="text" 
        placeholder="titulo da tarefa" 
        maxlength="60" 
        minlength="3"
        formControlName="title">
        <small 
        class="danger"
          *ngIf="form.controls.title.invalid && form.controls.title.pristine">
          este campo deve conter entre 3 e 60 caracteres<br>
        </small>
        <p class="text-center">

          <button class="button" [disabled]="form.invalid" (click)="add()"><i class="far fa-save"></i> salvar</button>
        </p>
  </form>
</div>

<button class="add-button animated fadeInUp button" (click)="changeMode('add')" *ngIf="mode == 'list'">
  <i class="fas fa-plus-circle"></i>
  NOVA TAREFA
</button>
<button class="add-button animated fadeInUp button" (click)="changeMode('list')" *ngIf="mode == 'add'">
  <i class="fas fa-times"></i>
  CANCELAR
</button>